/* @import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass"; */

h1 {
  text-align: center;
}


.section {
  width: 80%;
  height: 75%;
  background-color: turquoise;
  color: black;
  margin: 0 auto;
  border-radius: 15px;
  border: 5px solid;
  

}
.fadeIn {
  animation: fadeIn 1s;
}